@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e5e5e5;
  --otonmi-red: #ff3333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-otonmi-black: #050505;
  --color-otonmi-frame: #0a0a0a;
  --color-otonmi-border: #1f1f1f;
  --color-otonmi-red: #ff3333;
  --color-otonmi-red-dim: #451a1a;
  --color-otonmi-blue: #3366ff;
  --color-otonmi-gray: #888888;
  --color-otonmi-light: #e5e5e5;
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  background-image:
    linear-gradient(rgba(255, 51, 51, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 51, 51, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
}

.text-stroke {
  /* -webkit-text-stroke: 1px #2a2a2a; */
  color: #2a2a2a;
}